node_modules/
dist/
.vscode/
__pycache__/
*.pyc
.env
.idea/
repomix*

# sandbox
.bash_profile
.bashrc
.profile
.zprofile
.zshrc
.gitconfig
.gitmodules
.ripgreprc
.claude
.mcp.json
.vscode
HEAD
config
.idea
/hooks
objects
refs

